body {
  background-color: #EEE;
}

body, a, a:hover {
  color: #555;
}

h1, h2, h3, h4, h5 {
  color: #333;
  margin: 0;
}

h1 { font-size: x-large; }
h2 { font-size: large; }
h3 { font-size: medium; }
h4 { font-size: small; }
h5 { font-size: x-small; }

/* print stylesheets */

@media print {
  header,
  .buttons,
  .sidebar-column,
  #contact li:first-child a:after,
  #contact li:not(:first-child),
  #summary h2,
  #employment .skill,
  #hobbies {
    display: none !important;
  }

  #employment .project h4,
  #employment .project .summary {
    display: inline;
  }

  #employment .project .summary:before {
    content: " - ";
  }

  #heading,
  #summary,
  #employment .job-overview,
  #employment .job-project,
  #education,
  #hobbies {
    page-break-inside: avoid;
  }
}

/* general classes */

h2 {
  border-bottom: 1px solid #EEE;
  color: #888;
  font-weight: normal;
  margin: 1em 0 0.25em;
}

.indented {
  padding: 0 15px;
}

.project .summary {
  font-size: small;
}

.skill {
  display: inline-block;
  margin: 0 2px 2px 0;
  padding: 2px 4px;
  font-size: xx-small;
  text-transform: uppercase;
  background-color: #F9F9F9;
  border-radius: 4px;
  color: #222222;
}

.skill:hover,
.skill.highlight {
  /*background-color: #E9F4FF;*/
  /*color: #4966A6;*/
  cursor: default;
}

/* main */

#main-container {
  margin-top: 2px;
}

.main-column {
  padding: 10px 30px;
}

header .main-column {
  padding-top: 0;
  padding-bottom: 0;
}

#main-container .main-column {
  background-color: white;
  box-shadow: 0 0 5px gray;
}

/* sidebar */

.sidebar-column {
  padding-top: 30px;
}

.sidebar-affixed {
  position: fixed;
}

#sidenav {
  margin: 20px 5px;
}

#sidenav ul {
  padding: 0 20px;
}

#sidenav > ul {
  margin-left: -20px;
}

#sidenav li {
  padding: 0;
  margin: 0;
}

#sidenav a {
  padding: 5px 0;
  display: block;
}

#sidenav .nav .nav a {
  padding: 2px 0;
  font-size: small;
}

#sidenav a:hover {
  text-decoration: underline;
}

/* end sidebar */

/* morphing header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: background-color 0.5s;
}

header .backdrop {
  padding: 5px 10px;
  margin: 0 -10px;
  background-color: white;
}

header h1 {
  font-size: 15px;
  transition: font-size 0.05s;
}

header img {
  height: 20px;
  transition: height 0.05s, width 0.05s;
}

header h1 .email {
  display: inline-block;
  float: right;
  font-size: small;
  transition: opacity 0.5s;
}

.header-hidden header {
  display: none;
}

.header-showing header {
  background-color: rgba(255,255,255,0);
  border-bottom: 1px solid transparent;
}

.header-showing .email {
  opacity: 0;
}

.header-shown header {
  background-color: rgba(255,255,255,0.75);
  border-bottom: 1px solid lightgray;
}

.header-showing #heading img,
.header-showing #heading h1 {
  visibility: hidden;
}

/* disable the header and transmorphing on narrow screens */

@media (max-width: 400px) {
  header {
    display: none;
  }

  .header-showing #heading img,
  .header-showing #heading h1 {
    visibility: visible;
  }
}

/* end morphing header */

/* heading details */

#heading img, header img {
  float: left;
  margin-right: 10px;
  border-radius: 999;
  border: 1px solid lightgray;
  box-shadow: 0 0 1px gray;
}

#heading {
  margin-top: 10px;
}

#heading img {
  height: 60px;
  width: 60px;
}

#heading .pronounciation {
  font-size: large;
  white-space: nowrap;
  cursor: pointer;
}

#heading #download i.fa {
}

/* end heading details */

/* contact details */

#contact {
  height: 20px;
  overflow: hidden;
}

#contact li {
  white-space: nowrap;
}

/* end contact details */

/* summary details */

#summary > div {
  margin-bottom: 10px;
}

#summary h5 {
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: x-small;

  display: inline-block;
  width: 80px;
  padding: 0;
  margin: 0;
}

@media (max-width: 360px) {
  #summary h5 {
    display: block;
  }
}

#summary ul {
  display: inline;
  padding: 0;
  margin: 0
}

#summary li {
  display: inline;
}

#summary li:after {
  content: "; ";
  color: gray;
}
#summary li:last-child:after {
  content: ""
}

#summary .skills li:after {
  display: none;
}

/* end summary details */

/* employment details */

#employment h2 {
  margin-bottom: 0.75em;
}

#employment h3 {
  font-size: 17px;
  margin-bottom: 0.5em;
}

#employment .job {
  margin-bottom:1.75em;
}

#employment .title {
  font-weight: 200;
  margin-top: 5px
}

#employment .dates {
  margin-top: 2px;
}

#employment .dates,
#employment .duration {
  font-size: 12px;
}

#employment .job .summary {
  margin-bottom: 0.5em;
}

#employment .job-projects h4 {
  font-size: 14px;
  margin-top: 10px;
}

/* end employment details */

