<!-- heading -->
<div id="heading">
  <img ng-src="{{image_url}}">
  <h1>{{name}}</h1>
  <!-- <h2>{{title}}</h2> -->

  <span class="pronounciation small text-muted" ng-click="pronounce()">
    <audio src="{{pronounciation_url}}" preload="auto"></audio>
    <i class="fa fa-volume-up">
    </i>
    {{pronounciation}}
  </span>

  <p class="objective">{{objective}}</p>
</div>

<ul id="contact" class="list-inline">
  <!-- email -->
  <li><i class="fa fa-envelope"></i> <a href="mailto:{{email}}">{{email}}</a></li>

  <!-- websit -->
  <li><i class="fa fa-globe"></i> <a href="{{website}}">{{website}}</a></li>


  <!-- github -->
  <li><i class="fa fa-github"></i> <a href="http://github.com/{{github}}">{{github}}</a></li>
  <!-- linkedin -->
  <li><i class="fa fa-linkedin"></i> <a href="http://linkedin.com/in/{{linkedin}}">{{linkedin}}</a></li>
  <!-- twitter -->
  <li><i class="fa fa-twitter"></i> <a href="http://twitter.com/{{twitter}}">@{{twitter}}</a></li>
</ul>

<!-- buttons -->
<div class="buttons visible-xs-block visible-sm-block">
  <!-- print button -->
  <a class="btn btn-default btn-sm" ng-click="print()">
    <i class="fa fa-print"></i>
    Print
  </a>
  <!-- download button -->
  <a id="download" class="btn btn-primary btn-sm" href="{{pdf_url}}">
    <i class="fa fa-download"></i>
    PDF
  </a>
</div>

<!-- summary -->
<div id="summary">
  <h2>Summary</h2>
  <div class="education">
    <h5><a href="#education">Education</a></h5>
    <ul class="list-unstyled">
      <li ng-repeat="degree in degrees"><a href="#{{degree.id}}">{{degree.school}}</a></li>
    </ul>
  </div>

  <div class="employment">
    <h5><a href="#employment">Employment</a></h5>
    <ul class="list-unstyled">
      <li ng-repeat="job in jobs"><a href="#{{job.id}}">{{job.company}}</a></li>
    </ul>
  </div>

  <div class="skills">
    <h5>Tech Skills</h5>
    <span skills="skills"></span>
  </div>

  <div class="hobbies">
    <h5><a href="#hobbies">Hobbies</a></h5>
    <ul class="list-unstyled">
      <li ng-repeat="hobby in hobbies"><a href="#{{hobby.id}}">{{hobby.name}}</a></li>
    </ul>
  </div>
</div>

<!-- employment -->
<div id="employment">
  <h2>Employment</h2>
  <div class="row job" ng-repeat="job in jobs">
    <div id="{{job.id}}" class="col-md-12">
      <div class="job-overview">
        <!-- job header -->
        <div class="row job-header">
          <div class="col-xs-8">
            <h3>
              <div class="company">{{job.company}}</div>
              <div class="title">{{job.title}}</div>
            </h3>
          </div>
          <div class="col-xs-4 text-right">
            <div class="dates">{{job.dates}}</div>
            <div class="duration text-muted" ng-if="job.duration">({{job.duration}})</div>
          </div>
        </div>

        <!-- job details -->
        <div class="row job-details">
          <div class="col-xs-12">
            <p class="summary">{{job.summary}}</p>
            <div skills="job.skills"></div>
          </div>
        </div>
      </div>

      <!-- job projects -->
      <div class="job-projects indented">
        <div class="row job-project" ng-repeat="group in job.projects | inGroupsOf:3">
          <div class="col-sm-4 project" ng-repeat="project in group">
            <h4>{{project.name}}</h4>
            <p class="summary">{{project.summary}}</p>
            <div skills="project.skills"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- education -->
<div id="education">
  <h2>Education</h2>
  <div class="row" ng-repeat="degree in degrees">
    <div id="{{degree.id}}" class="col-md-12">
      <h3>{{degree.school}}</h3>
      <p class="summary">{{degree.summary}}</p>
    </div>
  </div>
</div>
