<div class="sidebar-affixed">
  <div class="buttons">
    <a class="btn btn-default" ng-click="print()">
      <i class="fa fa-print"></i>
      Print
    </a>
    <a id="download" class="btn btn-primary" href="{{pdf_url}}">
      <i class="fa fa-download"></i>
      PDF
    </a>
  </div>

  <div id="sidenav">
    <ul class="nav">
      <li><a href="#summary" anchor-scroll>Summary</a></li>
      <li>
        <a href="#employment">Employment</a>
        <ul class="nav">
          <li ng-repeat="job in jobs">
            <a href="#{{job.id}}">{{job.company}}</a>
          </li>
        </ul>
      </li>
      <li><a href="#education">Education</a></li>
      <li><a href="#hobbies" anchor-scroll>Hobbies</a></li>
    </ul>
  </div>
</div>
